In [3]:
#yellow_tripdata_2015-01.csv
#Data frame uret

#feather dosyasÄ±ndan dataframe olustur 

import pandas as pd 
import time 

start=time.time()
df=pd.read_csv('yellow_tripdata_2016-03.csv')
end=time.time()
sure=end-start
print(sure)

23.51733088493347

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12210952 entries, 0 to 12210951
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   pickup_longitude       float64
 6   pickup_latitude        float64
 7   RatecodeID             int64
 8   store_and_fwd_flag     object
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
dtypes: float64(12), int64(4), object(3)
memory usage: 1.7+ GB

In [7]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12210952 entries, 0 to 12210951
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   pickup_longitude       float64
 6   pickup_latitude        float64
 7   RatecodeID             int64
 8   store_and_fwd_flag     object
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
dtypes: float64(12), int64(4), object(3)
memory usage: 3.6 GB

In [8]:
df['passenger_count']

0           1
1           1
2           2
3           3
4           5
           ..
12210947    1
12210948    1
12210949    1
12210950    1
12210951    1
Name: passenger_count, Length: 12210952, dtype: int64

In [9]:
#dataframe columnlari 
#passanger_count sutunu icin kullanilan ram miktari
df['passenger_count'].memory_usage(index=False,deep=True)

97687616

In [13]:
#dataframe_count sutununu int64 den int8 e cevir
df['passenger_count']=df['passenger_count'].astype('int8')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12210952 entries, 0 to 12210951
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int8
 4   trip_distance          float64
 5   pickup_longitude       float64
 6   pickup_latitude        float64
 7   RatecodeID             int64
 8   store_and_fwd_flag     object
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
dtypes: float64(12), int64(3), int8(1), object(3)
memory usage: 1.6+ GB

In [17]:
#passanger_count sutunu icin kullanilan ram miktari
df['passenger_count'].memory_usage(index=False,deep=True)

12210952

In [19]:
#passenger_count sutunu icin kullanilan ram miktari ne kadar azaldi
97687616/12210952

8.0

In [21]:
df['pickup_longitude']

0          -73.976746
1          -73.983482
2          -73.782021
3          -73.863419
4          -73.971741
              ...
12210947     0.000000
12210948   -73.977356
12210949     0.000000
12210950   -73.790077
12210951   -73.798485
Name: pickup_longitude, Length: 12210952, dtype: float64

In [23]:
#pickup_longitude sutunu icin kullanilan ram miktari
df['pickup_longitude'].memory_usage(index=False,deep=True)

97687616

In [27]:
#pickup_longitude sutununu float64'den float16'ya cevir
df['pickup_longitude']=df['pickup_longitude'].astype('float16')

In [29]:
#pickup_longitude sutunu icin kullanilan ram miktari
df['pickup_longitude'].memory_usage(index=False,deep=True)

24421904

In [31]:
#pickup_longitude sutunu icin kullanilan ram miktari ne kadar azaldi
101991888/25497972

4.0

In [33]:
#store_and_fwd_flag sutunu
df['store_and_fwd_flag']

0           N
1           N
2           N
3           N
4           N
           ..
12210947    Y
12210948    N
12210949    N
12210950    N
12210951    N
Name: store_and_fwd_flag, Length: 12210952, dtype: object

In [35]:
#store_and_fwd_flag sutununda her veriden ne kadar var?
df['store_and_fwd_flag'].value_counts()

store_and_fwd_flag
N    12144057
Y       66895
Name: count, dtype: int64

In [37]:
#store_and_fwd_flag sutunu veri tipi
df['store_and_fwd_flag'].dtype

dtype('O')

In [39]:
#store_and_fwd_flag sutunu icin kullanilan ram miktari
df['store_and_fwd_flag'].memory_usage(index=False,deep=True)

610547600

In [41]:
#store_and_fwd_flag sutunu kategorisele cevir
df['store_and_fwd_flag']=df['store_and_fwd_flag'].astype('category')

In [43]:
#store_and_fwd_flag sutunu icin kullanilan ram miktari
df['store_and_fwd_flag'].memory_usage(index=False,deep=True)

12211160

In [45]:
#store_and_fwd_flag sutunu icin kullanilan ram miktari ne kadar azaldi
739441188/12749210

57.99898095646711

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12210952 entries, 0 to 12210951
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int8
 4   trip_distance          float64
 5   pickup_longitude       float16
 6   pickup_latitude        float64
 7   RatecodeID             int64
 8   store_and_fwd_flag     category
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
dtypes: category(1), float16(1), float64(11), int64(3), int8(1), object(2)
memory usage: 1.5+ GB

In [49]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12210952 entries, 0 to 12210951
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int8
 4   trip_distance          float64
 5   pickup_longitude       float16
 6   pickup_latitude        float64
 7   RatecodeID             int64
 8   store_and_fwd_flag     category
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
dtypes: category(1), float16(1), float64(11), int64(3), int8(1), object(2)
memory usage: 2.9 GB

In [51]:
#kutuphaneleri yukle
#pandas
#openpyxl
#pyarrow
!pip install openpyxl
!pip install pyarrow

Requirement already satisfied: openpyxl in c:\users\berkk\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\berkk\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: pyarrow in c:\users\berkk\anaconda3\lib\site-packages (14.0.2)
Requirement already satisfied: numpy>=1.16.6 in c:\users\berkk\anaconda3\lib\site-packages (from pyarrow) (1.26.4)

In [53]:
#yeni data framei feather'e cevir
df.to_feather('yellow_tripdata_2015.feather')

In [55]:
#feather dosyasindan dataframe olustur

import time
start=time.time()
df2=pd.read_feather('yellow_tripdata_2015.feather')
end=time.time()
sure=end-start
print(sure)

4.415987491607666

In [59]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12210952 entries, 0 to 12210951
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int8
 4   trip_distance          float64
 5   pickup_longitude       float16
 6   pickup_latitude        float64
 7   RatecodeID             int64
 8   store_and_fwd_flag     category
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
dtypes: category(1), float16(1), float64(11), int64(3), int8(1), object(2)
memory usage: 1.5+ GB

In [61]:
df2.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12210952 entries, 0 to 12210951
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int8
 4   trip_distance          float64
 5   pickup_longitude       float16
 6   pickup_latitude        float64
 7   RatecodeID             int64
 8   store_and_fwd_flag     category
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
dtypes: category(1), float16(1), float64(11), int64(3), int8(1), object(2)
memory usage: 2.9 GB

In [63]:
df2['tpep_pickup_datetime'].value_counts()

tpep_pickup_datetime
2016-03-06 00:44:32    28
2016-03-02 20:43:57    22
2016-03-18 19:43:53    21
2016-03-11 19:12:37    21
2016-03-05 22:31:22    21
                       ..
2016-03-18 06:34:11     1
2016-03-18 06:34:18     1
2016-03-18 06:34:34     1
2016-03-18 06:34:44     1
2016-03-20 08:45:16     1
Name: count, Length: 2462580, dtype: int64