In [5]:
import pandas as pd

In [7]:
Sf =pd.read_csv('Salaries.csv')

C:\Users\berkk\AppData\Local\Temp\ipykernel_28440\3966264654.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  Sf =pd.read_csv('Salaries.csv')

In [9]:
Sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [11]:
Sf.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [13]:
Sf.shape

(148654, 13)

In [15]:
Sf.isna()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,False,False,False,False,False,False,True,False,False,False,True,False,True
1,False,False,False,False,False,False,True,False,False,False,True,False,True
2,False,False,False,False,False,False,True,False,False,False,True,False,True
3,False,False,False,False,False,False,True,False,False,False,True,False,True
4,False,False,False,False,False,False,True,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,False,False,False,False,False,False,False,False,False,False,True,False,False
148650,False,False,False,False,False,False,False,False,False,False,True,False,True
148651,False,False,False,False,False,False,False,False,False,False,True,False,True
148652,False,False,False,False,False,False,False,False,False,False,True,False,True
148653,False,False,False,False,False,False,False,False,False,False,True,False,False

In [17]:
Sf.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [19]:
for col in Sf.columns:
     print(col)

Id
EmployeeName
JobTitle
BasePay
OvertimePay
OtherPay
Benefits
TotalPay
TotalPayBenefits
Year
Notes
Agency
Status

In [21]:
t={}
for col in Sf.columns:
  t[col] =Sf[col].value_counts()#value_counts her farklı değerden kaç tane var

In [23]:
t['BasePay']

BasePay
0.0         875
0.00        423
54703.00    327
55026.0     297
48472.4     210
           ...
68032.05      1
71342.57      1
75459.88      1
55768.91      1
474.52        1
Name: count, Length: 109900, dtype: int64

In [25]:
Sf['BasePay']

0            167411.18
1            155966.02
2            212739.13
3              77916.0
4             134401.6
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 148654, dtype: object

In [29]:
Sf['BasePay'].head()

0    167411.18
1    155966.02
2    212739.13
3      77916.0
4     134401.6
Name: BasePay, dtype: object

In [31]:
Sf['BasePay'].tail()

148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, dtype: object

In [33]:
Sf['BasePay'].head(60)
Sf['BasePay'].tail(60)

148594            0.00
148595           40.28
148596            0.00
148597            0.00
148598           37.25
148599           37.25
148600           37.23
148601           34.88
148602           34.75
148603            0.00
148604           34.03
148605            0.00
148606           31.75
148607           31.43
148608           21.76
148609           26.94
148610           21.22
148611            0.00
148612            0.00
148613           19.97
148614            0.00
148615            0.00
148616           21.48
148617           17.26
148618            0.00
148619            6.04
148620           15.50
148621            0.00
148622            0.00
148623            0.00
148624            0.00
148625            0.00
148626            0.00
148627            0.00
148628            0.00
148629            0.00
148630            0.00
148631            0.00
148632            0.00
148633            0.00
148634            0.00
148635            0.00
148636            0.00
148637            0.00
148638            0.00
148639            0.00
148640            0.00
148641            0.00
148642            0.00
148643            0.00
148644            0.00
148645            0.00
148646    Not Provided
148647            0.00
148648            0.00
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, dtype: object

In [35]:
Sf.iloc[100]

Id                                                 101
EmployeeName                              KEVIN TAYLOR
JobTitle            BATTALION CHIEF, (FIRE DEPARTMENT)
BasePay                                      168692.65
OvertimePay                                   33656.87
OtherPay                                      21502.83
Benefits                                           NaN
TotalPay                                     223852.35
TotalPayBenefits                             223852.35
Year                                              2011
Notes                                              NaN
Agency                                   San Francisco
Status                                             NaN
Name: 100, dtype: object

In [37]:
Sf.iloc[100:150]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
100,101,KEVIN TAYLOR,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.65,33656.87,21502.83,NaN,223852.35,223852.35,2011,NaN,San Francisco,NaN
101,102,ERIKA HOO,"LIEUTENANT, FIRE DEPARTMENT",123105.0,84547.16,16054.24,NaN,223706.40,223706.40,2011,NaN,San Francisco,NaN
102,103,LAUIFI SEUMAALA,FIREFIGHTER,105934.69,98534.35,18890.96,NaN,223360.00,223360.00,2011,NaN,San Francisco,NaN
103,104,EDWARD DENNIS,TRANSIT SUPERVISOR,88400.7,126778.88,7228.67,NaN,222408.25,222408.25,2011,NaN,San Francisco,NaN
104,105,PATRIC STEELE,FIREFIGHTER,105934.64,97395.59,18760.77,NaN,222091.00,222091.00,2011,NaN,San Francisco,NaN
105,106,MICHAEL WALSH,FIREFIGHTER,110474.93,83670.04,27043.61,NaN,221188.58,221188.58,2011,NaN,San Francisco,NaN
106,107,SAMSON LAI,"BATTALION CHIEF, (FIRE DEPARTMENT)",149362.86,35003.5,36682.96,NaN,221049.32,221049.32,2011,NaN,San Francisco,NaN
107,108,ANA SAMPERA,NURSING SUPERVISOR,188708.0,0.0,32080.36,NaN,220788.36,220788.36,2011,NaN,San Francisco,NaN
108,109,GLORIA GARCIA ORME,NURSING SUPERVISOR,188708.0,0.0,32080.36,NaN,220788.36,220788.36,2011,NaN,San Francisco,NaN
109,110,SCOTT SCHOLZEN,FIREFIGHTER,105934.67,96154.33,18655.85,NaN,220744.85,220744.85,2011,NaN,San Francisco,NaN
110,111,MARK SMITH,ANESTHETIST,206057.69,3431.01,10921.33,NaN,220410.03,220410.03,2011,NaN,San Francisco,NaN
111,112,C PETRUZZELLA,POLICE OFFICER III,63811.18,57966.33,98578.97,NaN,220356.48,220356.48,2011,NaN,San Francisco,NaN
112,113,JOHN HALEY JR,DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG,220115.22,0.0,237.0,NaN,220352.22,220352.22,2011,NaN,San Francisco,NaN
113,114,NELA PONFERRADA,NURSING SUPERVISOR,188708.0,0.0,31572.3,NaN,220280.30,220280.30,2011,NaN,San Francisco,NaN
114,115,CHARLES SCOTT,TRANSIT SUPERVISOR,88400.7,119951.72,11893.84,NaN,220246.26,220246.26,2011,NaN,San Francisco,NaN
115,116,LISETTE ADAMS,SHERIFF'S LIEUTENANT,121628.34,89920.21,8383.77,NaN,219932.32,219932.32,2011,NaN,San Francisco,NaN
116,117,JACKSON WONG,DEPUTY DIRECTOR V,219804.34,0.0,0.0,NaN,219804.34,219804.34,2011,NaN,San Francisco,NaN
117,118,IRENE SUNG,SUPERVISING PHYSICIAN SPECIALIST,191054.19,0.0,28658.16,NaN,219712.35,219712.35,2011,NaN,San Francisco,NaN
118,119,KHAIRUL ALI,"BATTALION CHIEF, (FIRE DEPARTMENT)",150432.85,42365.89,25995.01,NaN,218793.75,218793.75,2011,NaN,San Francisco,NaN
119,120,LESLIE DUBBIN,NURSING SUPERVISOR,179648.0,0.0,39029.76,NaN,218677.76,218677.76,2011,NaN,San Francisco,NaN
120,121,MICHAEL CASTAGNOLA,"CAPTAIN, FIRE SUPPRESSION",140546.88,52095.06,25564.1,NaN,218206.04,218206.04,2011,NaN,San Francisco,NaN
121,122,SHELLEY MITCHELL,ANESTHETIST,203658.55,4759.36,9561.44,NaN,217979.35,217979.35,2011,NaN,San Francisco,NaN
122,123,SEAN BONETTI,FIRE FIGHTER PARAMEDIC,122594.0,79721.87,15646.15,NaN,217962.02,217962.02,2011,NaN,San Francisco,NaN
123,124,SUSAN ILNICKI,NURSING SUPERVISOR,188889.44,0.0,28921.31,NaN,217810.75,217810.75,2011,NaN,San Francisco,NaN
124,125,TYRONNE JULIAN,TRANSIT SUPERVISOR,88062.0,126725.82,2784.61,NaN,217572.43,217572.43,2011,NaN,San Francisco,NaN
125,126,SHARON FERRIGNO,CAPTAIN III (POLICE DEPARTMENT),185369.68,27321.83,4651.44,NaN,217342.95,217342.95,2011,NaN,San Francisco,NaN
126,127,SHANNON SAKOWSKI,ANESTHETIST,192170.93,11260.27,13712.8,NaN,217144.00,217144.00,2011,NaN,San Francisco,NaN
127,128,JOHN HICKEY,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,22432.91,25855.73,NaN,216981.27,216981.27,2011,NaN,San Francisco,NaN
128,129,GLEN KOJIMOTO,"CAPTAIN, FIRE SUPPRESSION",140546.85,58354.29,17823.03,NaN,216724.17,216724.17,2011,NaN,San Francisco,NaN
129,130,EDWARD CHU,"LIEUTENANT, FIRE DEPARTMENT",123105.0,77259.53,16054.2,NaN,216418.73,216418.73,2011,NaN,San Francisco,NaN
130,131,SOFIA MATHEWS,"LIEUTENANT, BUREAU OF FIRE PREVENTION AND PUBL...",158603.68,0.0,57667.12,NaN,216270.80,216270.80,2011,NaN,San Francisco,NaN
131,132,EDMUND DEA,"CAPTAIN, FIRE SUPPRESSION",141648.87,43574.57,30952.65,NaN,216176.09,216176.09,2011,NaN,San Francisco,NaN
132,133,JOHN RAHAIM,DEPARTMENT HEAD IV,215799.48,0.0,0.0,NaN,215799.48,215799.48,2011,NaN,San Francisco,NaN
133,134,WILLIAM ROUALDES,LIEUTENANT III (POLICE DEPARTMENT),149044.93,4836.87,61531.43,NaN,215413.23,215413.23,2011,NaN,San Francisco,NaN
134,135,ZACHARY PUMPHREY,"BATTALION CHIEF, (FIRE DEPARTMENT)",166203.84,28448.6,20744.06,NaN,215396.50,215396.50,2011,NaN,San Francisco,NaN
135,136,MARK CASTAGNOLA,"LIEUTENANT, FIRE DEPARTMENT",123416.25,66447.73,25491.13,NaN,215355.11,215355.11,2011,NaN,San Francisco,NaN
136,137,NIKOLAS LEMOS,FORENSIC TOXICOLOGIST,182368.79,0.0,32949.41,NaN,215318.20,215318.20,2011,NaN,San Francisco,NaN
137,138,MICHAEL CARLIN,DEPUTY DIRECTOR V,215180.75,0.0,0.0,NaN,215180.75,215180.75,2011,NaN,San Francisco,NaN
138,139,JESSE SMITH,CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL),213907.72,0.0,1080.96,NaN,214988.68,214988.68,2011,NaN,San Francisco,NaN
139,140,THERESE STEWART,CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL),213907.72,0.0,1080.96,NaN,214988.68,214988.68,2011,NaN,San Francisco,NaN
140,141,MARISA MORET,CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL),213907.72,0.0,1080.96,NaN,214988.68,214988.68,2011,NaN,San Francisco,NaN
141,142,LUIS IBARRA-RIVERA,"LIEUTENANT, FIRE DEPARTMENT",123105.0,74266.87,17583.73,NaN,214955.60,214955.60,2011,NaN,San Francisco,NaN
142,143,GERALD DARCY,SERGEANT III (POLICE DEPARTMENT),130481.53,2433.29,82029.92,NaN,214944.74,214944.74,2011,NaN,San Francisco,NaN
143,144,DONNIE HORNBUCKLE,FIREFIGHTER,105934.63,96611.56,12306.26,NaN,214852.45,214852.45,2011,NaN,San Francisco,NaN
144,145,SANDRA TONG,"COMMANDER III, (POLICE DEPARTMENT)",206438.88,0.0,8377.03,NaN,214815.91,214815.91,2011,NaN,San Francisco,NaN
145,146,ANTHONY DUMONT,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.63,53209.03,20429.43,NaN,214185.09,214185.09,2011,NaN,San Francisco,NaN
146,147,THERESA DENTONI,NURSING SUPERVISOR,183040.0,0.0,31116.8,NaN,214156.80,214156.80,2011,NaN,San Francisco,NaN
147,148,TIM AREJA,FIREFIGHTER,105934.69,90329.62,17596.3,NaN,213860.61,213860.61,2011,NaN,San Francisco,NaN
148,149,SIU-KWAN CHOW,SENIOR PHYSICIAN SPECIALIST,167070.08,0.0,46665.54,NaN,213735.62,213735.62,2011,NaN,San Francisco,NaN
149,150,PATRICIA CARR,NURSING SUPERVISOR,183040.0,0.0,30619.46,NaN,213659.46,213659.46,2011,NaN,San Francisco,NaN

In [47]:
Sf.iloc[100:150]['BasePay']
Sf['BasePay'].iloc[100:150]

100    168692.65
101     123105.0
102    105934.69
103      88400.7
104    105934.64
105    110474.93
106    149362.86
107     188708.0
108     188708.0
109    105934.67
110    206057.69
111     63811.18
112    220115.22
113     188708.0
114      88400.7
115    121628.34
116    219804.34
117    191054.19
118    150432.85
119     179648.0
120    140546.88
121    203658.55
122     122594.0
123    188889.44
124      88062.0
125    185369.68
126    192170.93
127    168692.63
128    140546.85
129     123105.0
130    158603.68
131    141648.87
132    215799.48
133    149044.93
134    166203.84
135    123416.25
136    182368.79
137    215180.75
138    213907.72
139    213907.72
140    213907.72
141     123105.0
142    130481.53
143    105934.63
144    206438.88
145    140546.63
146     183040.0
147    105934.69
148    167070.08
149     183040.0
Name: BasePay, dtype: object

In [51]:
t2={}
for col in Sf.columns:
    t2[col] = Sf[col].nunique()

In [53]:
t2['BasePay']#kaç farklı maaş var

109900

In [55]:
for column in Sf.columns:
    print(pd.api.types.infer_dtype(Sf[column]))#gerçek veri tipini tahmin eder

integer
string
string
mixed
mixed
mixed
mixed
floating
floating
integer
floating
string
string

In [57]:
Sf['BasePay'].apply(type).value_counts()# her hücrenin tipini alır  kaç float kaç str var

BasePay
<class 'float'>    131072
<class 'str'>       17582
Name: count, dtype: int64

In [61]:
Sf['BasePay'].apply(type).nunique()#kç farklı veri tipi var

2

In [63]:
Sf[Sf['BasePay'].apply(type) == str]#maaşı string olan tüm satırlar

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
131072,131073,Barbara A George,Transit Operator,60618.25,1852.91,971.04,31668.21,63442.20,95110.41,2014,NaN,San Francisco,FT
131073,131074,Daniel J Koledin Ii,Electronic Maintenance Tech,68712.00,0.00,1244.10,25151.18,69956.10,95107.28,2014,NaN,San Francisco,PT
131074,131075,Kathleen Devine,Employment & Training Spec 3,68448.94,0.00,0.00,26657.35,68448.94,95106.29,2014,NaN,San Francisco,PT
131075,131076,Carmen I Rutherford,Licensed Vocational Nurse,64084.00,3459.13,672.71,26887.33,68215.84,95103.17,2014,NaN,San Francisco,FT
131076,131077,Milton T Hodges,Custodian,53982.99,14890.00,615.99,25613.70,69488.98,95102.68,2014,NaN,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [65]:
Sf[Sf['BasePay'].apply(type) == str]['BasePay']#dataframde basepay stununun veri tipi string olan satalarin icinden sadece basepay görülmesi

131072        60618.25
131073        68712.00
131074        68448.94
131075        64084.00
131076        53982.99
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 17582, dtype: object

In [69]:
#dataframe de BasePay sutunun veri tipi string olan dataların içinden BasePay verilerinden 
#her birinden kaçar adet var 
Sf[Sf['BasePay'].apply(type) == str]['BasePay'].value_counts()

BasePay
0.00        423
54703.00    327
65055.00     48
54703.01     44
18594.00     43
           ...
38812.01      1
44245.16      1
42966.87      1
32971.59      1
17914.72      1
Name: count, Length: 14809, dtype: int64

In [71]:
#uzunluk 
len(Sf[Sf['BasePay'].apply(type) ==str]['BasePay'].value_counts())

14809

In [73]:
#BasePay sutunun veri tipi string olan dataların icinden sadece BasePay verilerinini her biri
string_values =Sf[Sf['BasePay'].apply(type)==str]['BasePay'].unique()
string_values

array(['60618.25', '68712.00', '68448.94', ..., '6.04', '15.50',
       'Not Provided'], dtype=object)

In [75]:
#string_values icinde '.' yer almayan stringler
for i in string_values:
    if '.' not in i:
        print(i)

Not Provided

In [79]:
#OvertimePay
#Benefits
#icinde kontrol et
string_values2 =Sf[Sf['Benefits'].apply(type) ==str]['Benefits'].unique()
for i in string_values2:
    if '.' not in i:
        print(i)

Not Provided

In [81]:
#BasePay column minimum datayi al
# 'BasePay' sütununda sayısal olmayan değerleri NaN'a dönüştür ve sütunu float tipine çevir
Sf['BasePay'] =pd.to_numeric(Sf['BasePay'],errors='coerce')
#minmum değeri al
Sf['BasePay'].min()

-166.01

In [83]:
#df['ABC'].map(type) != str
#BasePay  column'unda veri tipi var mi yok mu kontrol et
Sf['BasePay'].map(type) == str

0         False
1         False
2         False
3         False
4         False
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: BasePay, Length: 148654, dtype: bool

In [85]:
#bir column'da tek data tipi olur. burada karisik

In [91]:
#dataframe'de BasePay sutunun veri tipi string olan datalarin butun dataset icinde gorulmesi
#map(type)==str
Sf[Sf['BasePay'].map(type)== str]

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

In [93]:
#dataframe'de BasePay sutunun veri tipi string olan datalarin icinden sadece BasePay gorulmesi
#map(type)==str
Sf[Sf['BasePay'].map(type) == str]['BasePay']

Series([], Name: BasePay, dtype: float64)

In [95]:
#butun columnlari gor
Sf.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [97]:
#warnings kutuphanesini import et
import warnings
warnings.filterwarnings('ignore')

In [101]:
#icinde Not Provided ve Not provided gecen columnlari gor
not_provided_col=[x for x in Sf.columns if 'Not Provided' in Sf[x].values or 'Not provided' in Sf[x].values]
not_provided_col

['EmployeeName', 'JobTitle', 'OvertimePay', 'OtherPay', 'Benefits']

In [103]:
Sf

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [105]:
Sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(4), int64(2), object(7)
memory usage: 14.7+ MB

In [107]:
Sf.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [109]:
#Salaries.csv'den dataframe yap
#na_values
#Not Provided, Not provided
SF=pd.read_csv('Salaries.csv',
              na_values=['Not Provided','Not provided'])
SF.isna().sum()

Id                       0
EmployeeName             6
JobTitle                 4
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [111]:
#dataframe info
SF['BasePay'].max()

319275.01

In [113]:
#Benefits, Notes, Agency, Status columnlarini sil

SF=SF.drop(columns=['Benefits', 'Notes', 'Agency', 'Status'])
SF

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,567595.43,567595.43,2011
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,538909.28,538909.28,2011
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,335279.91,335279.91,2011
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,332343.61,332343.61,2011
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,2014
148650,148651,NaN,NaN,NaN,NaN,NaN,0.00,0.00,2014
148651,148652,NaN,NaN,NaN,NaN,NaN,0.00,0.00,2014
148652,148653,NaN,NaN,NaN,NaN,NaN,0.00,0.00,2014
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,-618.13,-618.13,2014

In [115]:
#dataframe info al
SF.isna().sum()

Id                    0
EmployeeName          6
JobTitle              4
BasePay             609
OvertimePay           4
OtherPay              4
TotalPay              0
TotalPayBenefits      0
Year                  0
dtype: int64

In [117]:
#dataframe eksik data toplamina bak
#isna
#sum
SF=SF.dropna()
SF.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
TotalPay            0
TotalPayBenefits    0
Year                0
dtype: int64

In [119]:
#eksik columnlari sildikten sonra
#dataframe eksik data toplamina bak
SF.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
TotalPay            0
TotalPayBenefits    0
Year                0
dtype: int64

In [121]:
#dataframe info
SF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148043 entries, 0 to 148653
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148043 non-null  int64
 1   EmployeeName      148043 non-null  object
 2   JobTitle          148043 non-null  object
 3   BasePay           148043 non-null  float64
 4   OvertimePay       148043 non-null  float64
 5   OtherPay          148043 non-null  float64
 6   TotalPay          148043 non-null  float64
 7   TotalPayBenefits  148043 non-null  float64
 8   Year              148043 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 11.3+ MB

In [123]:
#describe
SF.describe()

,Id,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
count,148043.000000,148043.000000,148043.000000,148043.000000,148043.000000,148043.000000,148043.000000
mean,74193.290902,66325.398119,5086.501378,3645.655768,75057.555265,94037.888854,2012.520666
std,42948.417213,42764.898947,11473.068388,8019.552578,50410.007571,62683.725358,1.119390
min,1.000000,-166.010000,-0.010000,-7058.590000,-618.130000,-618.130000,2011.000000
25%,37012.500000,33587.350000,0.000000,0.000000,36956.850000,45074.275000,2012.000000
50%,74024.000000,65007.450000,0.000000,817.100000,71644.330000,92675.510000,2013.000000
75%,111639.500000,94691.050000,4695.180000,4242.855000,106028.000000,133085.380000,2014.000000
max,148654.000000,319275.010000,245131.880000,400184.250000,567595.430000,567595.430000,2014.000000

In [125]:
#EmployeeName column bak
SF['EmployeeName']

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148645     Carolyn A Wilson
148647       Joann Anderson
148648          Leon Walker
148649        Roy I Tillery
148653            Joe Lopez
Name: EmployeeName, Length: 148043, dtype: object

In [127]:
#ilk veriyi al
#0
SF['EmployeeName'][0]

'NATHANIEL FORD'

In [129]:
#EmployeeName column da herkesin adi NATHANIEL FORD mu degil mi kontrol et
#True, False
SF['EmployeeName']=='NATHANIEL FORD'

0          True
1         False
2         False
3         False
4         False
          ...
148645    False
148647    False
148648    False
148649    False
148653    False
Name: EmployeeName, Length: 148043, dtype: bool

In [131]:
#EmployeeName columnda adi NATHANIEL FORD olan kisinin sutununu getir
SF[SF['EmployeeName']=='NATHANIEL FORD']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,567595.43,567595.43,2011

In [133]:
#EmployeeName columnda adi NATHANIEL FORD olan kisinin TotalPayBenefits bilgisi
SF[SF['EmployeeName']=='NATHANIEL FORD']['TotalPayBenefits']

0    567595.43
Name: TotalPayBenefits, dtype: float64

In [135]:
SF[SF['EmployeeName']=='NATHANIEL FORD']['TotalPayBenefits'].values[0]

567595.43

In [137]:
#BasePay  column'unda kac farkli data tipi var
#BasePay  column'unda her farkli data tipinden kacar adet var
#apply(type)
#value_counts()
#nunique
SF['BasePay'].apply(type).value_counts()

BasePay
<class 'float'>    148043
Name: count, dtype: int64

In [139]:
#dataframe info
SF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148043 entries, 0 to 148653
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148043 non-null  int64
 1   EmployeeName      148043 non-null  object
 2   JobTitle          148043 non-null  object
 3   BasePay           148043 non-null  float64
 4   OvertimePay       148043 non-null  float64
 5   OtherPay          148043 non-null  float64
 6   TotalPay          148043 non-null  float64
 7   TotalPayBenefits  148043 non-null  float64
 8   Year              148043 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 15.3+ MB

In [141]:
#BasePay column min deger
SF['BasePay'].min()

-166.01

In [143]:
#BasePay column max deger
SF['BasePay'].max()

319275.01

In [145]:
#BasePay column max degere sahip olan kisinin satiri
SF[SF['BasePay']==SF['BasePay'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,339282.07,425815.28,2013

In [147]:
#BasePay column max degere sahip olan kisinin adi
SF[SF['BasePay']==SF['BasePay'].max()]['EmployeeName']

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

In [149]:
SF[SF['BasePay']==SF['BasePay'].max()]['EmployeeName'].values[0]

'Gregory P Suhr'

In [151]:
#JobTitle column
SF[SF['BasePay']==SF['BasePay'].max()]['JobTitle'].values[0]

'Chief of Police'

In [153]:
#mesleginin adinda POLICE olanlar
SF['JobTitle']

0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                        CAPTAIN III (POLICE DEPARTMENT)
2                        CAPTAIN III (POLICE DEPARTMENT)
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
                               ...
148645                         Human Services Technician
148647                       Communications Dispatcher 2
148648                                         Custodian
148649                                         Custodian
148653                        Counselor, Log Cabin Ranch
Name: JobTitle, Length: 148043, dtype: object

In [155]:
POLICE=SF.loc[SF['JobTitle'].str.contains('POLICE')]
len(POLICE)

2512

In [157]:
POLICE

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,538909.28,538909.28,2011
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,335279.91,335279.91,2011
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,297608.92,297608.92,2011
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,286213.86,286213.86,2011
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,267992.59,267992.59,2011
...,...,...,...,...,...,...,...,...,...
35131,35132,CYNTHIA HAYNES-EPPERSON,SENIOR POLICE COMMUNICATIONS DISPATCHER,1006.40,0.00,361.82,1368.22,1368.22,2011
35151,35152,LYNN BLOOM,POLICE SERVICES AIDE,0.00,0.00,1324.80,1324.80,1324.80,2011
35318,35319,ROBERT CHAPMAN,POLICE OFFICER III,0.00,0.00,1088.00,1088.00,1088.00,2011
35671,35672,RUSSELL MATLI,POLICE OFFICER III,0.00,0.00,597.31,597.31,597.31,2011
35902,35903,SUSAN ROTH,SERGEANT III (POLICE DEPARTMENT),0.00,0.00,283.86,283.86,283.86,2011

In [159]:
#mesleginin adinda Police olanlar
Police=SF.loc[SF['JobTitle'].str.contains('Police')]
len(Police)

5665

In [161]:
#mesleginin adinda police olanlar
police=SF.loc[SF['JobTitle'].str.contains('police')]
len(police)

0

In [163]:
#mesleginin adinda hem POLICE hem Police olanlar
polis=SF.loc[SF['JobTitle'].str.contains('POLICE|Police')]
len(polis)

8177

In [165]:
#Isminde LISA olanlar
LISA=SF.loc[SF['EmployeeName'].str.contains('LISA')]
len(LISA)

173

In [167]:
#Isminde Lisa olanlar

Lisa=SF.loc[SF['EmployeeName'].str.contains('Lisa')]
len(Lisa)

446

In [169]:
#Isminde lisa olanlar

lisa=SF.loc[SF['EmployeeName'].str.contains('lisa')]
len(lisa)

113

In [171]:
#Isminde lisa Lisa LISA  olanlar
#Lisalar
lisalar=SF.loc[SF['EmployeeName'].str.contains('Lisa|LISA|lisa')]
len(lisalar)

732

In [173]:
lisalar

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
337,338,LISA GOLDEN,SUPERVISING PHYSICIAN SPECIALIST,192379.60,0.00,2484.00,194863.60,194863.60,2011
407,408,LISA HOFFMANN,DEPUTY DIRECTOR IV,190617.54,0.00,0.00,190617.54,190617.54,2011
564,565,ELISA RAMIREZ,NURSE MANAGER,170596.03,0.00,13060.81,183656.84,183656.84,2011
734,735,ELISABETH FILISS,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.85,24274.27,13087.88,177909.00,177909.00,2011
845,846,LISA FRAZER,SERGEANT III (POLICE DEPARTMENT),130481.59,4353.57,39809.66,174644.82,174644.82,2011
...,...,...,...,...,...,...,...,...,...
148090,148091,Lisa A Woodward,Media/Security Sys Spec,745.69,0.00,0.00,745.69,745.69,2014
148137,148138,Anna Lisa M Austria,Special Nurse,542.94,0.00,0.00,542.94,666.78,2014
148138,148139,Elisabeth M Kaufman,Special Nurse,549.10,0.00,109.82,658.92,665.51,2014
148248,148249,Lisa K Mihaly,Nurse Practitioner,467.25,0.00,0.00,467.25,471.92,2014
148542,148543,Lisamarie E Russo,Recreation Leader,91.80,0.00,5.51,97.31,98.28,2014

In [175]:
#Isminde lisa Lisa LISA  olanlar
#mesleginin adinda hem POLICE hem Police olanlar
#Polis_Lisa
Polis_Lisa= SF.loc[SF['JobTitle'].str.contains('POLICE|Police') & SF['EmployeeName'].str.contains('Lisa|LISA|lisa')]
len(Polis_Lisa)

14

In [177]:
Polis_Lisa

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
845,846,LISA FRAZER,SERGEANT III (POLICE DEPARTMENT),130481.59,4353.57,39809.66,174644.82,174644.82,2011
4037,4038,LISA SPRINGER,SERGEANT III (POLICE DEPARTMENT),130481.30,0.00,1011.61,131492.91,131492.91,2011
4404,4405,LISA SMITH,POLICE OFFICER I,94440.58,4998.21,28882.04,128320.83,128320.83,2011
8475,8476,LISA ELEKWACHI,SENIOR POLICE COMMUNICATIONS DISPATCHER,87185.95,8895.26,9106.21,105187.42,105187.42,2011
8563,8564,LISA CURRY,POLICE OFFICER III,103817.66,0.00,846.33,104663.99,104663.99,2011
9814,9815,LISA GARCIA,POLICE OFFICER III,96627.39,834.52,819.53,98281.44,98281.44,2011
39344,39345,Lisa Smith,Police Officer 2,106057.11,24798.34,23380.19,154235.64,187887.31,2012
43022,43023,Lisa Garcia,Police Officer 3,117162.68,5886.82,922.91,123972.41,158184.49,2012
49914,49915,Lisa Curry,Police Officer 3,91781.06,216.36,724.52,92721.94,119582.00,2012
78812,78813,Lisa M Smith,Police Officer 2,118979.43,5562.10,8971.02,133512.55,169713.77,2013
79527,79528,Lisa C Garcia,Police Officer 3,121156.01,5553.74,1119.13,127828.88,164159.91,2013
117684,117685,Lisa M Smith,Police Officer 2,116584.00,2956.67,1509.90,121050.57,159408.66,2014
117690,117691,Lisa C Garcia,Police Officer 3,118134.93,1850.65,813.41,120798.99,159380.19,2014
145292,145293,Lisa M Curry,Police Officer 3,0.00,0.00,1810.34,1810.34,6469.70,2014

In [179]:
#Lisa_Springer
#Isminde lisa Lisa LISA  olanlar
#mesleginin adinda hem POLICE hem Police olanlar
#BasePay>130481
#TotalPayBenefits<131493
Lisa_Springer=SF.loc[((SF['JobTitle'].str.contains('POLICE|Police')) & (SF['EmployeeName'].str.contains('Lisa|LISA|lisa'))) & ((SF['BasePay']>130481) & (SF['TotalPayBenefits']<131493))]
len(Lisa_Springer)

1

In [181]:
Lisa_Springer

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
4037,4038,LISA SPRINGER,SERGEANT III (POLICE DEPARTMENT),130481.3,0.0,1011.61,131492.91,131492.91,2011

In [183]:
##diger yol
Lisa_Springer2=SF.loc[(SF['JobTitle'].str.contains('POLICE|Police')) & (SF['EmployeeName'].str.contains('Lisa|LISA|lisa')) & (SF['BasePay']>130481) & (SF['TotalPayBenefits']<131493)]
len(Lisa_Springer2)

1

In [185]:
Lisa_Springer2

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
4037,4038,LISA SPRINGER,SERGEANT III (POLICE DEPARTMENT),130481.3,0.0,1011.61,131492.91,131492.91,2011